{{define "subject"}}Reset your Txtnest password{{end}}
{{define "plainBody"}} Hi,
Please send a `/v1/tokens/refresh/{{.passwordResetToken}}` request with the following JSON body to set a new password: {"password": "your new password", "token": "{{.passwordResetToken}}"}
Please note that this is a one-time use token and it will expire in 45 minutes. If you need another token please make a `/v1/tokens/refresh/{{.passwordResetToken}}` request.
Thanks,
The Txtnest Team {{end}}
{{define "htmlBody"}} <!doctype html> <html>
<head>
<meta name="viewport" content="width=device-width" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head> <body>
<p>Hi,</p>
<p>Please send a <code> /v1/tokens/refresh/{{.passwordResetToken}} </code> request with the following JSON body to set a new password:</p> <pre><code>
{"password": "your new password"} 
</code></pre>
<p>Please note that this is a one-time use token and it will expire in 45 minutes.
If you need another token please make a <code> /v1/tokens/refresh/{{.passwordResetToken}} </code> request.</p>
<p>Thanks,</p>
<p>The Txtnest Team</p>
</body> </html>
{{end}}
